*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    background: rgb(235, 225, 207);
    overflow: hidden;
}

.progress__bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1vh;
    background: rgb(167, 137, 137);
    z-index: 999;
}

.bar{
    height: 100%;
    background: rgb(156, 71, 71);
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav__links a {
    text-decoration: none;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 20px;
    overflow: hidden;
}

a:hover .letter,
a.play .letter {
    transform: translateY(-100%);
}

a .block:last-child{
    color: red;
}

a .letter{
    display: inline-block;
    transition: transform .6s cubic-bezier(0.75, 0, 0.024, 1);
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2{
    text-align: center;
    color: black;
    font-size: 3vw;
    max-width: 80%;
}

section:nth-child(2){
    background: rgb(162, 182, 123);
}
section:nth-child(3){
    background: rgb(228, 209, 184);
}
.container{
    height: 100vh;
    width: 500%;
    display: flex;
    flex-wrap: nowrap;
}

.pannel{
    height: 100%;
    flex: 1;
}

.pannel:nth-child(1){
    background: green;
}
.pannel:nth-child(2){
    background: yellow;
}
.pannel:nth-child(3){
    background: orange;
}
.pannel:nth-child(4){
    background: red;
}
.pannel:nth-child(5){
    background: purple;
}

section:nth-child(5){
    background: rgb(47, 48, 45);
    height: 100vh;
}

.cube{
    position: sticky;
    top: 0;
    width: 500px;
    aspect-ratio: 1;
    background: red;
}